pkgbase = unityhub
	pkgdesc = Manage Unity projects and Editor installations with Unity Hub
	pkgver = 3.0.0_beta.7
	pkgrel = 2
	url = https://unity.com/
	arch = x86_64
	license = custom
	depends = zlib
	options = !strip
	source = unityhub-3.0.0_beta.7.deb::https://hub.unity3d.com/linux/repos/deb/pool/main/u/unity/unityhub_amd64/unityhub-amd64-3Beta.0.0-beta.7.deb
	source = unityhub.desktop
	source = unityhub.svg
	sha256sums = d1af15a92a930e95c1c883449d823838546b1bc770d7254903eccaa0f2f17fc4
	sha256sums = bb5a658c2e6ef1a9d8a56f552190027275d47bb1de31ed116ee580b373619a96
	sha256sums = ccc9fc1afa09558a733f1109bfdad48e6e1f77f8110c625ad7b0ee02407070d3

pkgname = unityhub
